/*--------------------
1 - Color Mode
--------------------*/
:root {
	--color-main: #009900;
	--color-text: #383a3f;
	--color-dark: #1f2124;
	--color-gray: #677;
	--color-bg: #f3f6f9;
	--color-light: #eeffee;
	--color-lighter: #f9f9f9;
	--color-white: #fff;
	--color-border:#e0e3e6;
	--color-scroll-bg: #e6e6e6;
	--color-scroll: #b6b6b6;
}
.dark {
	--color-main: #00bb00;
	--color-text: #d6d1d1;
	--color-dark: #f5f6f7;
	--color-gray: #999;
	--color-bg: #1f2124;
	--color-light: #313b30;
	--color-lighter: #292a2c;
	--color-white: #2e3235;
	--color-border:#252629;
	--color-scroll-bg: #444444;
	--color-scroll: #191919;

}
body {
	background-color: var(--color-white);
}
/*--------------------
2 - Universal Styles
--------------------*/
.App {
	color: var(--color-text);
	height: 100%;
	transition: all .1s ease-in-out;
}
.declined {
	color: #c34d4d;
}
.approved {
	color:var(--color-main) ;
}
.pending {
	color: #c6a23f;
}
/*--------------------
3 - Header Styles
--------------------*/
.App-header {
	padding: 1.5rem;
	margin-bottom: 3rem;
	background-color: var(--color-lighter);
	border-bottom: 2px solid var(--color-border);
	display: flex;
	justify-content: space-between;
}
.App-logo {
	width: 10rem;
}
.table-header {
	width: 90%;
	margin: 0 auto;
	margin-bottom: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
	.table-header h1 {
		text-transform: uppercase;
		font-weight: 700;
		margin: 0;
	}
	.table-header .btn-main {
		display: flex;
		align-items: center;
		height: 50%;
		color: white;
	}
	.table-header .btn-main.open {
		background-color: var(--color-main);
	}
	.table-header .btn-main.close {
		background-color: #c34d4d;
	}
	.table-header .btn-main.open:hover {
		background-color: #027702;
	}
	.table-header .btn-main.close:hover {
		background-color: #e75b5b;
	}
	.table-header .btn-main:focus, .form-control:focus, .form-select:focus {
		box-shadow: 0 0 0 0.25rem rgb(41 255 19 / 25%);
	}
	.btn-main i {
		font-size: 1.25rem;
		position: relative;
		left: -5px;
	}

/*--------------------
4 - Toggle Switch Styles
--------------------*/
.App-header button {
	background-color: unset;
	border: unset;
}
 .switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
.switch input {
	opacity: 0;
	width: 0;
	height: 0;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}
.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	border-radius: 50%;
	z-index: 1;
	-webkit-transition: .4s;
	transition: .4s;
}
.slider.active {
	background-color:  #1c1c1c;
	box-shadow: 0 0 1px  #1c1c1c;
}
.slider.active:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}
i.sun, i.moon {
	position: relative;
	top: 7px;
	/* color: white; */
	font-size: 18px;
}
i.sun {
	left: -4px;
	color: #b9a87e;
}
i.moon{
	right: -4px;
	color: #782889;
}
/*--------------------
4 - Table Styles
--------------------*/
.table-container {
	margin: 0 auto;
	width: 90%;
	overflow: auto;
}
.scrollbar-style::-webkit-scrollbar {
	height: 0.5rem;
	background-color: var(--color-scroll-bg);
}
.scrollbar-style::-webkit-scrollbar-thumb {
	background-color: var(--color-scroll);
	border: 1px solid var(--color-scroll-bg);
	border-radius: 1rem;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.table li {
	margin-bottom: 0.5rem;
}
.table li p {
	margin: 0;
}
	.table li p.number {
		font-size: 0.9rem;
		font-style: italic;
	}
.table td.performance i {
	position: relative;
	top: 5px;
} 
.table td.status i {
	position: relative;
	top: 5px;
}
/* overwriting bootstrap */
table.table > :not(caption) > * > * {
	white-space: nowrap;
	padding: 1rem;
}
table.table {
	color: var(--color-text);
	--bs-table-striped-color: var(--color-text);
	--bs-table-striped-bg: var(--color-light); 
	border-color: var(--color-border);
}
table.table button.new-contact {
	margin: 0;
}
table.table button.new-contact:first-child {
	margin-right: .5rem;
}
/*--------------------
5 - Icon Key Styles
--------------------*/
ul.key {
	margin: 0 auto;
	width: 90%;
	max-width: 471px;
	display: flex;
	justify-content: space-between;
}
	ul.key li {
		display: flex;
		align-items: center;
		font-size: .75rem;
	}
	ul.key li i {
		margin-right: .25rem;
		font-size: 1rem;
	}
/*--------------------
6 - Form Styles
--------------------*/
form.add-target {
	width: 90%;
	max-width: 550px;
	margin: 0 auto;
	margin-bottom: 2rem;
}
.add-target .form-group {
	margin-bottom: 0.75rem;
}
.add-target .form-group label {
	font-weight: 600;
}
.add-target button {
	background-color: var(--color-dark);
	color: var(--color-white);
	border: none;
	padding: 0.5rem 1rem;
}
.add-target button:hover {
	color: var(--color-white);
	background-color: var(--color-text);
}
.contact-group {
	display: flex;
	flex-wrap: wrap;
}
.contact-group .form-group {
	width: 100%;
}
button.new-contact {
	padding: 0;
	background-color: unset;
	color: var(--color-text);
	margin-bottom: .75rem;

}
button.new-contact:hover {
	background-color: unset;
	color: var(--color-text);
	text-decoration: underline;
}
/*===============================================
Media Breakpoint: 600px
===============================================*/
@media only screen and (min-width:600px){
	form.add-target {
		margin-left: 5%;
		
	}
	ul.key {
		max-width: unset;
		justify-content: flex-end;
	}
	ul.key li:not(:last-child) {
		margin-right: 2rem;
	}
	.contact-group {
		justify-content: space-between;
	}
	.contact-group .form-group {
		width: 49%;
	}
}